[submodule "vender/subMoudleGitTest"]
	path = vender/subMoudleGitTest
	url = git@github.com:JLU51-ford/subMoudleGitTest.git
[submodule "Test sub/subMoudleGitTest"]
	path = Test sub/subMoudleGitTest
	url = git@github.com:JLU51-ford/subMoudleGitTest.git
